<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ng-app"> <!--<![endif]-->
  <html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hello Count</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="./assets/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="./assets/css/main.css">
        
        <script src="./assets/js/simpleController.js"></script>
        <!--[if lt IE 9]>
            <script src="./assets/js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="countController">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1>Incrementando e decrementando valores com Angular JS</h1>
    </div>
    <div class="jumbotron">
      <div class="container">
        <p><a class="btn btn-primary btn-lg" ng-click="addOne()">Adicionar 1 </a> <a ng-click="subOne()" class="btn btn-danger btn-lg"> Subitrair 1</a></p>
        <h3>Valor da contagem: {{counter}}</h3>
        <span class="text-danger">{{aviso}}</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="container">
        <h2>Aqui já é a utlização laços de repetição pelo AngularJS</h2>
        <div>
          <h3>Frutas</h3>
          <ul>
            <li ng-repeat="fruit in fruits">{{fruit}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">  
      <hr>

      <footer>
        <p>&copy; Wesley S. Araújo 2013</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="./assets/js/vendor/bootstrap.min.js"></script>

        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        <script src="./assets/js/angular.min.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
